.bg-picture{
    background-image: url('public/bg-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height : 100vh;
    position: relative;
}